
.center-text{

    h3 {
        overflow: hidden;
        text-align: center;
        font-family: var(--main-font);
    }
    h3:before,
    h3:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    h3:before {
        right: 0.5em;
        margin-left: -50%;
    }
    h3:after {
        left: 0.5em;
        margin-right: -50%;
    }
    

}